<h3> <b>Process 2: Data Exploring</b>

<hr/>

<h4> <b>Install & Import</b> </h4>

Install & Import the necessary libraries.

In [41]:
# Install libraries

In [42]:
# Import libraries
import pandas as pd

<hr/>
<h4> <b>Read data & Create dataframe</b> </h4>

In [43]:
df = pd.read_csv('data/raw_data.csv')
df.head()

,jobId,jobTitle,jobUrl,userId,companyLogo,alias,createdOn,approvedOn,expiredOn,lastUpdatedOn,...,isMobileHotJob,isMobileTopJob,isBoldAndRedJob,isUrgentJob,isUrgentJobM,onlineOn,visibilityDisplay,priorityOrder,nearestGeoLoc,profilePublishedSiteMask
0,1675231,Chuyên Viên Tối Ưu Website (UX / UI / CRO),NaN,2300334,NaN,chuyen-vien-toi-uu-website-ux-ui-cro,NaN,2023-07-27T17:18:54+07:00,2023-08-26T23:59:59+07:00,NaN,...,True,False,False,False,False,2023-07-27T17:18:54+07:00,False,2023-07-27T17:18:54,NaN,0
1,1552302,Nhân Viên Kinh Doanh Kênh HORECA,NaN,7012449,https://images.vietnamworks.com/pictureofcompa...,nhan-vien-kinh-doanh-kenh-horeca-22,NaN,2023-07-27T17:17:32+07:00,2023-08-26T23:59:59+07:00,NaN,...,True,True,False,False,False,2023-07-27T17:17:32+07:00,False,2023-07-27T17:17:32,NaN,0
2,1675112,Tuyển Dụng Kỹ Thuật Lắp Đặt Điện + Điện Nhẹ (Đ...,NaN,4642915,https://images.vietnamworks.com/pictureofcompa...,tuyen-dung-ky-thuat-lap-dat-dien-dien-nhe-di-l...,NaN,2023-07-27T17:14:54+07:00,2023-08-26T23:59:59+07:00,NaN,...,True,True,False,False,False,2023-07-27T17:14:54+07:00,False,2023-07-27T17:14:54,NaN,0
3,1661222,Trưởng Phòng Kinh Doanh BĐS (Ecopark Đồng Nai ...,NaN,2108744,https://images.vietnamworks.com/pictureofcompa...,truong-phong-kinh-doanh-bds-ecopark-dong-nai-e...,NaN,2023-07-27T17:11:50+07:00,2023-08-26T23:59:59+07:00,NaN,...,True,True,False,False,False,2023-07-27T17:11:50+07:00,False,2023-07-27T17:11:50,NaN,1
4,1675070,Temporary Admin Executive (6-Month Contract),NaN,981266,https://images.vietnamworks.com/pictureofcompa...,temporary-admin-executive-6-month-contract,NaN,2023-07-27T17:02:04+07:00,2023-08-26T23:59:59+07:00,NaN,...,True,True,False,False,False,2023-07-27T17:02:04+07:00,False,2023-07-27T17:02:04,NaN,2

<hr/>
<h4> <b>Explore data</b> </h4>

<h5><i>1. Shape</i></h5>

In [44]:
df.shape

(9000, 70)

<h5><i>2. Overview information of each column</i><h5>

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 70 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   jobId                     9000 non-null   int64
 1   jobTitle                  9000 non-null   object
 2   jobUrl                    0 non-null      float64
 3   userId                    9000 non-null   int64
 4   companyLogo               8465 non-null   object
 5   alias                     9000 non-null   object
 6   createdOn                 0 non-null      float64
 7   approvedOn                9000 non-null   object
 8   expiredOn                 9000 non-null   object
 9   lastUpdatedOn             0 non-null      float64
 10  lastSyncedOn              0 non-null      float64
 11  companyName               9000 non-null   object
 12  companyId                 9000 non-null   int64
 13  companyProfile            0 non-null      float64
 14  companySizeId             9000 non-null   int64
 15  contactName               0 non-null      float64
 16  createdBy                 9000 non-null   int64
 17  isOnline                  0 non-null      float64
 18  isActive                  0 non-null      float64
 19  isApproved                0 non-null      float64
 20  isUnpaidDisable           9000 non-null   int64
 21  isCompleted               0 non-null      float64
 22  isAnonymous               9000 non-null   bool
 23  isSalaryVisible           9000 non-null   bool
 24  isShowLogo                9000 non-null   bool
 25  isShowLogoInSearch        9000 non-null   bool
 26  jobDescription            8999 non-null   object
 27  jobRequirement            9000 non-null   object
 28  jobLevelId                9000 non-null   int64
 29  languageSelectedId        9000 non-null   int64
 30  redirectTo                0 non-null      float64
 31  requiredCoverLetter       9000 non-null   int64
 32  salary                    9000 non-null   int64
 33  salaryMax                 9000 non-null   int64
 34  salaryMin                 9000 non-null   int64
 35  typeWorkingId             9000 non-null   int64
 36  skills                    9000 non-null   object
 37  benefits                  9000 non-null   object
 38  workingLocations          9000 non-null   object
 39  address                   8809 non-null   object
 40  industries                9000 non-null   object
 41  industriesV3              0 non-null      float64
 42  jobLevel                  9000 non-null   object
 43  jobLevelVI                9000 non-null   object
 44  languageId                9000 non-null   int64
 45  locations                 0 non-null      float64
 46  canonical                 0 non-null      float64
 47  isShowContact             0 non-null      float64
 48  salaryRangeId             9000 non-null   int64
 49  requiredResume            9000 non-null   bool
 50  companySize               7463 non-null   object
 51  companySizeVI             0 non-null      float64
 52  languageSelectedVI        0 non-null      float64
 53  languageSelected          9000 non-null   object
 54  simpleServices            2015 non-null   object
 55  services                  7785 non-null   object
 56  prettySalary              9000 non-null   object
 57  durationDays              9000 non-null   int64
 58  numOfApplications         9000 non-null   int64
 59  emailAddress              0 non-null      float64
 60  isMobileHotJob            9000 non-null   bool
 61  isMobileTopJob            9000 non-null   bool
 62  isBoldAndRedJob           9000 non-null   bool
 63  isUrgentJob               9000 non-null   bool
 64  isUrgentJobM              9000 non-null   bool
 65  onlineOn                  9000 non-null   object
 66  visibilityDisplay         9000 non-null   bool
 67  priorityOrder             9000 non-null   object
 68  nearestGeoLoc             0 non-null      float64
 69  profilePublishedSiteMask  9000 non-null   int64
dtypes: bool(11), float64(19), int64(18), object(22)
memory usage: 4.1+ MB

**Note**: A lot of columns are missed all values and we will drop all columns having that.

<h5><i>3. Meaning of columns</i></h5>

Meaning of each column in df:

We see all meaning of columns and select columns which can be dropped

| Column              |   Meaning                                   | Drop       | 
|:-------------------:|:-------------------------------------------:|:----------:|
| jobId               | Identification number of each job           |            | 
| jobTitle            | Title of each job                           |            | 
| jobUrl              | Url of each job                             |    X       | 
| userId              | Maybe it is the identification number of user <br> who post this recruit information |   X         | 
| companyLogo         | Logo of each company                        |    X       | 
| alias         | Alias of each company                        |    X       | 
| createdOn         | Maybe it is date which information is created by recruiter (user)                      |    X       | 
| approvedOn        | Maybe it is date which information is approved to post by vietnamwork                       |    X       | 
| expiredOn       | Maybe it is date which information is due                       |    X       | 
| lastUpdatedOn       | Maybe it is the last date which information is updated                      |    X       | 
| lastSyncedOn      | Maybe it is the last date which information is synced                      |    X       | 
| companyName      | Name of each company                    |          | 
| companyId      | Identification of each company                    |          | 
| companyProfile      | Profile of each company (All row is null)                    |      X    | 
| companySizeId      | Size identification of each company (All row is 0)                    |      X    | 
| contactName     | Contach name for each company (All row is null)                    |      X    | 
| createdBy       | All row is 0                   |      X    | 
| isOnline      | All row is null                  |      X    | 
| isActive      | All row is null                  |      X    | 
| isApproved      | All row is null                  |      X    | 
| isUnpaidDisable       | All row is 0                   |      X    | 
| isCompleted      | All row is null                   |      X    | 
| isAnonymous       | The kind of each job (private or public )                  |      | 
| isSalaryVisible       | Is the salary showed                    |      | 
| isShowLogo       | Is the logo showed                  |      X    | 
| isShowLogoInSearch      | Is the logo showed in searching                  |      X    | 
| jobDescription       | Description of each job                  |          | 
| jobRequirement      | Requirement of each job                  |          | 
| jobLevelId       | LevelId of each job                  |          | 
| languageSelectedId       | All row is 0                   |      X    | 
| redirectTo       | All row is null                   |      X    | 
| requiredCoverLetter       | All row is 0                   |      X    | 
| salary       | Salary for each work                  |        | 
| salaryMax      | Max salary for each work                  |          | 
| salaryMin      | Min salary for each work                  |          | 
| typeWorkingId     | All row is null               |          | 
| skills      | Necessary skills for each work                  |          | 
| benefits     | Benefits for each work             |          | 
| workingLocations    | Locations for each work               |          | 
| address     | Workplace for each work              |          |
| industries     | Industries about each work               |          | 
| industriesV3     | All row is null               |     X     | 
| jobLevel     | Level of each job (Common)             |          | 
| jobLevelVI    | Level of each job (Entail)               |          | 
| languageId     | Identification of each language               |         | 
| locations     | All row is null               |   X       | 
| canonical    | All row is null               |     X     | 
| isShowContact    | All row is 0              |     X     | 
| salaryRangeId     | All row is null               |    X      | 
| requiredResume     | All row is FALSE               |     X     | 
| companySize     | The size of each company              |         | 
| companySizeVI     | All row is null               |     X     | 
| languageSelectedVI    | All row is null               |   X       | 
| languageSelected    | Forced language in each company               |         | 
| prettySalary     |  Pretty salary for each work             |          | 
| durationDays     |  Date due to submit CV             |          | 
| ...    | ...              |       X   |

In [46]:
drop = ['jobUrl','userId','companyLogo','alias', 'createdOn', 'approvedOn', 'expiredOn', 'lastUpdatedOn', 'lastSyncedOn', 
       'companyName', 'companyId', 'companyProfile', 'companySizeId',
       'contactName', 'createdBy', 'isOnline', 'isActive', 'isApproved',
       'isUnpaidDisable', 'isCompleted', 'isShowLogo', 'isShowLogoInSearch','languageSelectedId', 'redirectTo', 'requiredCoverLetter',
       'industriesV3', 'languageId', 'locations', 'canonical',
       'isShowContact', 'salaryRangeId', 'requiredResume',
       'companySizeVI', 'languageSelectedVI','simpleServices', 'services',
       'numOfApplications', 'emailAddress', 'isMobileHotJob', 'isMobileTopJob',
       'isBoldAndRedJob', 'isUrgentJob', 'isUrgentJobM', 'onlineOn',
       'visibilityDisplay', 'priorityOrder', 'nearestGeoLoc','profilePublishedSiteMask']
df.columns

Index(['jobId', 'jobTitle', 'jobUrl', 'userId', 'companyLogo', 'alias',
       'createdOn', 'approvedOn', 'expiredOn', 'lastUpdatedOn', 'lastSyncedOn',
       'companyName', 'companyId', 'companyProfile', 'companySizeId',
       'contactName', 'createdBy', 'isOnline', 'isActive', 'isApproved',
       'isUnpaidDisable', 'isCompleted', 'isAnonymous', 'isSalaryVisible',
       'isShowLogo', 'isShowLogoInSearch', 'jobDescription', 'jobRequirement',
       'jobLevelId', 'languageSelectedId', 'redirectTo', 'requiredCoverLetter',
       'salary', 'salaryMax', 'salaryMin', 'typeWorkingId', 'skills',
       'benefits', 'workingLocations', 'address', 'industries', 'industriesV3',
       'jobLevel', 'jobLevelVI', 'languageId', 'locations', 'canonical',
       'isShowContact', 'salaryRangeId', 'requiredResume', 'companySize',
       'companySizeVI', 'languageSelectedVI', 'languageSelected',
       'simpleServices', 'services', 'prettySalary', 'durationDays',
       'numOfApplications', 'emailAddress', 'isMobileHotJob', 'isMobileTopJob',
       'isBoldAndRedJob', 'isUrgentJob', 'isUrgentJobM', 'onlineOn',
       'visibilityDisplay', 'priorityOrder', 'nearestGeoLoc',
       'profilePublishedSiteMask'],
      dtype='object')

<h5> <i>4. Meaning of rows</i> </h5>

Each row is an recruitment information for a job.

<h5><i>5. Check duplicated data </i></h5>

In [47]:
df[df.duplicated()].shape[0]

75

**Note**: Dataset has 22 duplicated data and we will drop it in preprocessing data

<h5><i>6. View some important columns </i></h5>

*6.1. Columns "salary", "salaryMax", "salaryMin", "prettySalary"*

In [48]:
df[["salary","salaryMax","salaryMin", "prettySalary"]]

      salary  salaryMax  salaryMin   prettySalary
0          0          0          0   Thương lượng
1        800        800        400    $400 - $800
2        840        840        336    $336 - $840
3          0          0          0   Thương lượng
4          0          0          0   Thương lượng
...      ...        ...        ...            ...
8995       0          0          0   Thương lượng
8996       0          0          0   Thương lượng
8997    3300       3300       2500  $2500 - $3300
8998    1000       1000        500   $500 - $1000
8999    1000       1000        500   $500 - $1000

[9000 rows x 4 columns]

<hr/>

<h4><b> Summary</b><h4>