<h3> <b>Process 3: Data Preprocessing</b> </h3>

<hr/>

<h4> <b>Install & Import</b> </h4>

Install & Import the necessary libraries.

In [1]:
# Install libraries

In [2]:
# Import libraries
import pandas as pd
import ast

<hr/>
<h4> <b>Read data & Create dataframe</b> </h4>

In [3]:
df = pd.read_csv('data/raw_data.csv')
df.head()

,jobId,jobTitle,jobUrl,userId,companyLogo,alias,createdOn,approvedOn,expiredOn,lastUpdatedOn,...,isMobileHotJob,isMobileTopJob,isBoldAndRedJob,isUrgentJob,isUrgentJobM,onlineOn,visibilityDisplay,priorityOrder,nearestGeoLoc,profilePublishedSiteMask
0,1680760,Nhân Viên Kinh Doanh MT - GT,NaN,7323468,NaN,nhan-vien-kinh-doanh-mt-gt-2,NaN,2023-08-11T11:22:45+07:00,2023-09-10T23:59:59+07:00,NaN,...,True,True,False,False,False,2023-08-11T11:22:45+07:00,False,2023-08-11T11:22:45,NaN,0
1,1680765,Social Media Specialist (Full Time/part-Time),NaN,7320197,https://images.vietnamworks.com/pictureofcompa...,social-media-specialist-full-time-part-time,NaN,2023-08-11T11:20:32+07:00,2023-09-10T23:59:59+07:00,NaN,...,True,True,False,False,False,2023-08-11T11:20:32+07:00,False,2023-08-11T11:20:32,NaN,0
2,1680758,Kế Toán Tổng Hợp,NaN,7323468,NaN,ke-toan-tong-hop-5140,NaN,2023-08-11T11:17:28+07:00,2023-09-10T23:59:59+07:00,NaN,...,True,True,False,False,False,2023-08-11T11:17:28+07:00,False,2023-08-11T11:17:28,NaN,0
3,1680741,Marketing Staff,NaN,5605927,https://images.vietnamworks.com/pictureofcompa...,marketing-staff-128,NaN,2023-08-11T11:10:02+07:00,2023-09-10T23:59:59+07:00,NaN,...,True,True,False,True,False,2023-08-11T11:10:02+07:00,False,2023-08-11T11:10:02,NaN,2
4,1680162,Chuyên Viên Chính Quan Hệ Khách Hàng Ưu Tiên -...,NaN,3284371,https://images.vietnamworks.com/pictureofcompa...,chuyen-vien-chinh-quan-he-khach-hang-uu-tien-t...,NaN,2023-08-10T10:43:12+07:00,2023-09-09T23:59:59+07:00,NaN,...,True,True,False,False,False,2023-08-10T10:43:12+07:00,False,2023-08-11T11:05:45,NaN,1

<hr/>
<h4> <b>Preprocess data</b> </h4>

<h5><i>1. Drop columns which are not related to this exercise </i></h5>

In [4]:
list_drop = ['jobUrl','userId','companyLogo','alias', 'createdOn', 'expiredOn', 'lastUpdatedOn', 'lastSyncedOn', 
       'companyId', 'companyProfile', 'companySizeId',
       'contactName', 'createdBy', 'isOnline', 'isActive', 'isApproved',
       'isUnpaidDisable', 'isCompleted', 'isShowLogo', 'isShowLogoInSearch','languageSelectedId', 'redirectTo', 'requiredCoverLetter',
       'industriesV3', 'languageId', 'locations', 'canonical',
       'isShowContact', 'salaryRangeId', 'requiredResume',
       'companySizeVI', 'languageSelectedVI','simpleServices', 'services',
       'emailAddress', 'isMobileHotJob', 'isMobileTopJob',
       'isBoldAndRedJob', 'isUrgentJob', 'isUrgentJobM', 'onlineOn',
       'visibilityDisplay', 'priorityOrder', 'nearestGeoLoc','profilePublishedSiteMask']

In [5]:
df = df.drop(list_drop,axis = 1)

In [6]:
df.columns.size

25

<h5><i>2. Drop all columns which miss all values or all values are 0 </i></h5>

In [7]:
df = df.dropna(axis=1, how = 'all')
df.columns.size

25

In [8]:
df = df.loc[:,(df != 0).any(axis = 0)]
df.columns.size

25

In [9]:
df

,jobId,jobTitle,approvedOn,companyName,isAnonymous,isSalaryVisible,jobDescription,jobRequirement,jobLevelId,salary,...,workingLocations,address,industries,jobLevel,jobLevelVI,companySize,languageSelected,prettySalary,durationDays,numOfApplications
0,1680760,Nhân Viên Kinh Doanh MT - GT,2023-08-11T11:22:45+07:00,Công Ty Cổ Phần S77 Hà Nội,False,True,1. Doanh số bán hàng\r\n- Thực hiện bán hàng t...,- Ít nhất 1 năm kinh nghiệm ở vị trí tương đươ...,5,700,...,"[{'workingLocationId': 130191, 'addressId': 74...",Hà Nội,"[{'industryId': 11, 'industryName': 'Customer ...",Experienced (non-manager),Nhân viên,10-24,Any,$500 - $700,30,0
1,1680765,Social Media Specialist (Full Time/part-Time),2023-08-11T11:20:32+07:00,Công Ty TNHH Jung Wisdom International,False,False,WE’RE HIRING: SOCIAL MEDIA SPECIALIST (FULL TI...,QUALIFICATIONS\r\n- Fluent in English (IELTS o...,5,0,...,"[{'workingLocationId': 130179, 'addressId': 74...","No.298, Vo Chi Cong street, Xuan La Ward, Tay ...","[{'industryId': 3, 'industryName': 'Advertisin...",Experienced (non-manager),Nhân viên,25-99,English,Thương lượng,30,0
2,1680758,Kế Toán Tổng Hợp,2023-08-11T11:17:28+07:00,Công Ty Cổ Phần S77 Hà Nội,False,True,- Ghi nhận kiểm tra các nghiệp vụ phát sinh và...,1. Tuổi: Từ 25\r\n2. Bằng cấp: Cao đẳng/Đại Họ...,5,700,...,"[{'workingLocationId': 130191, 'addressId': 74...",Hà Nội,"[{'industryId': 1, 'industryName': 'Accounting...",Experienced (non-manager),Nhân viên,10-24,Any,$500 - $700,30,0
3,1680741,Marketing Staff,2023-08-11T11:10:02+07:00,Công Ty TNHH Bán Lẻ Fujimart Việt Nam,False,False,"-\tIn charge of trade marketing activities, co...",-\tBachelor degree of Marketing/ Business Admi...,5,0,...,"[{'workingLocationId': 88326, 'addressId': 515...","Tầng 6, 51 Phố Lê Đại Hành, Quận Hai Bà Trưng,...","[{'industryId': 3, 'industryName': 'Advertisin...",Experienced (non-manager),Nhân viên,NaN,Any,Thương lượng,30,0
4,1680162,Chuyên Viên Chính Quan Hệ Khách Hàng Ưu Tiên -...,2023-08-10T10:43:12+07:00,Ngân Hàng TMCP Quốc Dân (Ncb),False,False,"- Thực hiện hoạt động tìm kiếm, phát triển và ...","- Tốt nghiệp chuyên ngành Tài chính-ngân hàng,...",5,0,...,"[{'workingLocationId': 83892, 'addressId': 350...","28C-28D Bà Triệu, Phường Hàng Bài, Hà Nội","[{'industryId': 33, 'industryName': 'Sales', '...",Experienced (non-manager),Nhân viên,NaN,Vietnamese,Thương lượng,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,1673169,Experienced Associate - Economics and Infrastr...,2023-07-22T17:06:30+07:00,Ernst & Young Vietnam Limited,False,True,The opportunity with Business Consulting – Gov...,Skills and attributes for success \r\n•\tBeing...,5,1500,...,"[{'workingLocationId': 89131, 'addressId': 615...","Bitexco Financial Tower, 28th Floor, 2 Hai Tri...","[{'industryId': 8, 'industryName': 'Consulting...",Experienced (non-manager),Nhân viên,500-999,Any,$500 - $1500,30,7
8996,1673172,Senior Associate - Economics and Infrastructur...,2023-07-22T17:39:57+07:00,Ernst & Young Vietnam Limited,False,False,The opportunity with Business Consulting – Eco...,Skills and attributes for success \r\n•\tBeing...,5,0,...,"[{'workingLocationId': 89131, 'addressId': 615...","Bitexco Financial Tower, 28th Floor, 2 Hai Tri...","[{'industryId': 8, 'industryName': 'Consulting...",Experienced (non-manager),Nhân viên,500-999,Any,Thương lượng,30,7
8997,1670291,Nhân Viên OP Làm Việc Tại Cửa Khẩu Hữu Nghị,2023-07-22T10:58:26+07:00,Công Ty TNHH Vận Chuyển Hải Thiên (VIỆT NAM),False,False,"MÔ TẢ CÔNG VIỆC:\r\n- Thông quan, tiếp nhận th...",***YÊU CẦU ỨNG VIÊN\r\n- Trình độ học vấn tối ...,5,0,...,"[{'workingLocationId': 128009, 'addressId': 73...","181 Đào Duy Anh, phường 9, quận Phú Nhuận","[{'industryId': 19, 'industryName': 'Export-Im...",Experienced (non-manager),Nhân viên,25-99,Any,Thương lượng,30,4
8998,1673166,Chinese Speaking _ Business Development _ Hano...,2023-07-22T16:39:56+07:00,Ernst & Young Vietnam Limited,False,False,Your key responsibilities\r\n\tWork with Part...,What working at EY offers\r\n•\tSupport and co...,5,0,...,"[{'workingLocationId': 89131, 'addressId': 615...","Bitexco Financial Tower, 28th Floor, 2 Hai Tri...","[{'industryId': 8, 'industryName': 'Consulting...",Experienced (non-manager),Nhân viên,500-999,Any,Thương lượng,30,6
8999,1673167,Senior in Risk Consulting Service– Hanoi Offic...,2023-07-22T16:43:58+07:00,Ernst & Young Vietnam Limited,False,False,"At EY, you’ll have the chance to build a caree...",Who we are looking for?\r\n\r\nA Bachelor’s or...,5,0,...,"[{'workingLocationId': 1641, 'addressId': 41, ...","Bitexco Financial Tower, 28th Floor, 2 Hai Tri...","[{'industryId': 8, 'industryName': 'Consulting...",Experienced (non-manager),Nhân viên,500-999,English,Thương lượng,30,6

<h5><i>3. Drop all duplicated in raw data</i></h5>

In [10]:
df = df.drop_duplicates(keep = 'first')
df.shape

(8978, 25)

<h5><i>4. Preprocessing column <b>"companySize"</b></i></h5>

In [11]:
df['companySize'].value_counts()

100-499          2256
25-99            1793
1,000-4,999      1207
500-999           763
10-24             667
5,000-9,999       329
10,000-19,999     215
Less Than 10      108
20,000-49,999      43
Over 50,000        42
Name: companySize, dtype: int64

In [12]:
def clean_companySize(s): 
    if s == "100-499": return (100, 499)
    elif s == "25-99": return (25, 99)
    elif s == "1,000-4,999": return (1000, 4999)
    elif s == "500-999": return (500, 999)
    elif s == "10-24": return (10, 24)
    elif s == "5,000-9,999": return (5000, 9999)
    elif s == "10,000-19,999": return (10000, 19999)
    elif s == "Less Than 10": return (0, 10)
    elif s == "20,000-49,999": return (20000, 49999)
    elif s == "Over 50,000": return (50000, 99999)
    else: return None

In [13]:
temp_df = df.copy()
temp_df['companySize'] = df['companySize'].apply(lambda s: clean_companySize(s))
temp_df['companySize'].value_counts().sum()

7423

In [14]:
temp_df.head(1)

,jobId,jobTitle,approvedOn,companyName,isAnonymous,isSalaryVisible,jobDescription,jobRequirement,jobLevelId,salary,...,workingLocations,address,industries,jobLevel,jobLevelVI,companySize,languageSelected,prettySalary,durationDays,numOfApplications
0,1680760,Nhân Viên Kinh Doanh MT - GT,2023-08-11T11:22:45+07:00,Công Ty Cổ Phần S77 Hà Nội,False,True,1. Doanh số bán hàng\r\n- Thực hiện bán hàng t...,- Ít nhất 1 năm kinh nghiệm ở vị trí tương đươ...,5,700,...,"[{'workingLocationId': 130191, 'addressId': 74...",Hà Nội,"[{'industryId': 11, 'industryName': 'Customer ...",Experienced (non-manager),Nhân viên,"(10, 24)",Any,$500 - $700,30,0

<h5><i>5. Preprocessing column "workingLocations"</i></h5>

In [15]:
columns_to_check = ["workingLocations","skills",'benefits',"industries"]
temp_df.dropna(subset = columns_to_check,inplace = True)

In [16]:
temp_df["workingLocations"].value_counts()

[{'workingLocationId': 119997, 'addressId': 774, 'cityId': 24, 'districtId': 0, 'address': 'Hà Nội, Vietnam', 'geoLoc': {'lat': 21.027764, 'lon': 105.83416}, 'cityName': 'Ha Noi', 'cityNameVI': 'Hà Nội'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                 42
[{'workingLocationId': 17, 'addressId': 14572, 'cityId': 24, 'districtId': 10, 'address': 'Hà Nội, Việt Nam', 'geoLoc': {'lat': 21.027764, 'lon': 105.83416}, 'cityName': 'Ha Noi', 'cityNameVI': 'Hà Nội'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                 24
[{'workingLocationId': 2027, 'addressId': 63746, 'cityId': 29, 'districtId': 36, 'address': '702 Nguyễn Văn Linh, Tân Phong, District 7, Hồ Chí Minh, Việt Nam', 'geoLoc': {'lat': 10.729419, 'lon': 106.700243}, 'cityName': 'Ho Chi Minh', 'cityNameVI': 'Hồ Chí Minh'}]                                                                                                                                                                                                                                                                                                                                                                                                   22
[{'workingLocationId': 105865, 'addressId': 60730, 'cityId': 63, 'districtId': 696, 'address': 'Khu công nghiệp bá thiện 1, Bá Hiến, Bình Xuyên, Vĩnh Phúc, Việt Nam', 'geoLoc': {'lat': 21.318082, 'lon': 105.68253}, 'cityName': 'Vinh Phuc', 'cityNameVI': 'Vĩnh Phúc'}]                                                                                                                                                                                                                                                                                                                                                                                                  19
[{'workingLocationId': 100763, 'addressId': 58077, 'cityId': 29, 'districtId': 43, 'address': 'Etown Building, 364 Cong Hoa, Ward 13, Tan Binh District, HCMC', 'geoLoc': {'lat': 10.800843, 'lon': 106.640828}, 'cityName': 'Ho Chi Minh', 'cityNameVI': 'Hồ Chí Minh'}]                                                                                                                                                                                                                                                                                                                                                                                                    19
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ..
[{'workingLocationId': 123214, 'addressId': 40796, 'cityId': 5, 'districtId': 115, 'address': 'Việt Yên, Bắc Giang, Việt Nam', 'geoLoc': {'lat': 21.285863, 'lon': 106.087533}, 'cityName': 'Bac Giang', 'cityNameVI': 'Bắc Giang'}]                                                                                                                                                                                                                                                                                                                                                                                                                                          1
[{'workingLocationId': 85804, 'addressId': 50243, 'cityId': 27, 'districtId': 318, 'address': 'Lô D3 và Lô F, KCN PHúc Điền, xã Cẩm Phúc, huyện Cẩm Giàng, tỉnh Hải Dương, Việt Nam', 'geoLoc': {'lat': 20.933289, 'lon': 106.191994}, 'cityName': 'Hai Duong', 'cityNameVI': 'Hải Dương'}]                                                                                                                                                                                                                                                                                                                                                                                   1
[{'workingLocationId': 123093, 'addressId': 522, 'cityId': 11, 'districtId': 0, 'address': 'Binh Duong, Vietnam', 'geoLoc': {'lat': 11.325402, 'lon': 106.477017}, 'cityName': 'Binh Duong', 'cityNameVI': 'Bình Dương'}, {'workingLocationId': 123109, 'addressId': 878, 'cityId': 19, 'districtId': 0, 'address': 'Dong Nai, Vietnam', 'geoLoc': {'lat': 11.068631, 'lon': 107.167598}, 'cityName': 'Dong Nai', 'cityNameVI': 'Đồng Nai'}, {'workingLocationId': 123111, 'addressId': 5126, 'cityId': 29, 'districtId': 0, 'address': 'Ho Chi Minh, Vietnam', 'geoLoc': {'lat': 10.823099, 'lon': 106.629664}, 'cityName': 'Ho Chi Minh', 'cityNameVI': 'Hồ Chí Minh'}]     1
[{'workingLocationId': 128453, 'addressId': 69642, 'cityId': 29, 'districtId': 36, 'address': 'Him Lam Residences,No.30, Nguyen Thi Thap St.,Tan Hung Ward, Dist 7, HCMC', 'geoLoc': {'lat': 10.740871, 'lon': 106.699086}, 'cityName': 'Ho Chi Minh', 'cityNameVI': 'Hồ Chí Minh'}]                                                                                                                                                                                                                                                                                                                                                                                          1
[{'workingLocationId': 1641, 'addressId': 41, 'cityId': 24, 'districtId': 0, 'address': 'Ha Noi', 'geoLoc': {'lat': 0, 'lon': 0}, 'cityName': 'Ha Noi', 'cityNameVI': 'Hà Nội'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
Name: workingLocations, Length: 5892, dtype: int64

In [17]:
temp_df['workingLocations'] = temp_df['workingLocations'].apply(ast.literal_eval)

In [18]:
def clean_workingLocations(x):
    cityName = {} 
    for i in x: 
        cityName[i.get("cityId")] = i.get("cityNameVI")
    return cityName

In [19]:
temp_df['workingLocations'] = temp_df['workingLocations'].apply(lambda x: clean_workingLocations(x))
temp_df['workingLocations']

0         {24: 'Hà Nội'}
1         {24: 'Hà Nội'}
2         {24: 'Hà Nội'}
3         {24: 'Hà Nội'}
4         {24: 'Hà Nội'}
              ...
8995      {24: 'Hà Nội'}
8996      {24: 'Hà Nội'}
8997    {37: 'Lạng Sơn'}
8998      {24: 'Hà Nội'}
8999      {24: 'Hà Nội'}
Name: workingLocations, Length: 8972, dtype: object

<h5><i>6. Preprocessing column "skills", "benefits", "industries" </i></h5>

In [20]:
temp_df['skills'] = temp_df['skills'].apply(ast.literal_eval)
temp_df['benefits'] = temp_df['benefits'].apply(ast.literal_eval)
temp_df['industries'] = temp_df['industries'].apply(ast.literal_eval)

In [21]:
def clean_skills(x):
    skills= {} 
    for i in x: 
        skills[i.get("skillId")] = i.get("skillName")
    return skills

def clean_benefits(x):
    benefits= {} 
    for i in x: 
        benefits[i.get("benefitId")] = i.get("benefitName")
    return benefits

def clean_industries(x): 
    industries= {} 
    for i in x: 
        industries[i.get("industryId")] = i.get("industryName")
    return industries

In [22]:
temp_df['skills'] = temp_df['skills'].apply(lambda x: clean_skills(x))
temp_df['benefits'] = temp_df['benefits'].apply(lambda x: clean_benefits(x))
temp_df['industries'] = temp_df['industries'].apply(lambda x: clean_industries(x))
temp_df[['skills', 'benefits', 'industries']]

,skills,benefits,industries
0,"{1919: 'Kênh MT', 1921: 'Hàng Tiêu Dùng', 666:...","{1: 'Bonus', 2: 'Healthcare Plan', 10: 'Team A...","{11: 'Customer Service', 32: 'Retail/Wholesale..."
1,"{27810: 'Marketing Materials Strategy', 333851...","{1: 'Bonus', 2: 'Healthcare Plan', 4: 'Training'}","{3: 'Advertising/Promotion/PR', 27: 'Marketing..."
2,"{93: 'Kế Toán Tổng Hợp', 941661: 'Hạch Toán Ch...","{1: 'Bonus', 2: 'Healthcare Plan', 10: 'Team A...","{1: 'Accounting', 58: 'Auditing', 59: 'Finance..."
3,"{100: 'English', 651: 'Trade Marketing', 15900...","{1: 'Bonus', 2: 'Healthcare Plan', 9: 'Travel ...","{3: 'Advertising/Promotion/PR', 27: 'Marketing..."
4,"{17750: 'Tìm Kiếm Khách Hàng', 354: 'Chăm Sóc ...","{1: 'Bonus', 4: 'Training', 5: 'Awards'}","{33: 'Sales', 42: 'Banking', 59: 'Finance/Inve..."
...,...,...,...
8995,"{618943: 'Government Organizations', 236965: '...","{1: 'Bonus', 5: 'Awards', 15: 'Others'}","{8: 'Consulting', 58: 'Auditing', 69: 'Plannin..."
8996,"{618943: 'Government Organizations', 941031: '...","{1: 'Bonus', 5: 'Awards', 15: 'Others'}","{8: 'Consulting', 58: 'Auditing', 69: 'Plannin..."
8997,"{67: 'Xuất Nhập Khẩu', 26367: 'Booking', 23667...","{2: 'Healthcare Plan', 3: 'Paid Leave', 10: 'T...","{19: 'Export-Import', 36: 'Freight/Logistics'}"
8998,"{9428: 'Chinese', 346516: 'Business Deveplomen...","{1: 'Bonus', 5: 'Awards', 15: 'Others'}","{8: 'Consulting', 11: 'Customer Service', 58: ..."
8999,"{184: 'Risk', 29886: 'Business consulting', 16...","{1: 'Bonus', 5: 'Awards', 15: 'Others'}","{8: 'Consulting', 58: 'Auditing', 59: 'Finance..."

<h5><i>7. Preprocessing column "typeWorkingId" </i></h5>

In [23]:
temp_df["typeWorkingId"].value_counts().sort_index().index

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

=> It will have 7 type of working with id 1 -> 7

When going to **VietnamWorks** and check the information of workingId, I find out: 
+ With Id 1 in "typeWorkingId", it will be **Full-time**
+ With Id 2 in "typeWorkingId", it will be **Part-time**
+ With Id 3 in "typeWorkingId", it will be **Internship**
+ With Id 4 in "typeWorkingId", it will be **Online jobs**
+ With Id 5 in "typeWorkingId", it will be **Freelancer**
+ With Id 6 in "typeWorkingId", it will be **Seasonal**
+ With Id 7 in "typeWorkingId", it will be **Other**

From that, I will append 1 column "typeWorkingName to show it clearly:

In [24]:
def convert_typeWorkingName(id):
    if (id == 1):
        return 'Full-time'
    elif (id == 2):
        return 'Part-time'
    elif (id == 3):
        return 'Internship'
    elif (id == 4):
        return 'Online jobs'
    elif (id == 5):
        return 'Freelancer'
    elif (id == 6):
        return 'Seasonal'
    else:
        return 'Other'

In [25]:
temp_df['typeWorkingName'] = [convert_typeWorkingName(x) for x in temp_df['typeWorkingId']]

<h5><i>8. Preprocessing column "numOfApplications" </i></h5>

In [26]:
temp_df['numOfApplications'].value_counts()

0      1953
1       276
4       200
2       189
3       188
       ...
231       1
354       1
212       1
513       1
239       1
Name: numOfApplications, Length: 311, dtype: int64

=> As we can see in information above, number of applications are 0 is 1953, so we can remove it or append mean, mode, median of this columns for these blanks, but I will keep it to make predictation for number of applications.

<h5><i>9. Fill NaN</i></h5>

In [27]:
missing_values = temp_df.isnull().sum()
columns_with_missing_values = missing_values[missing_values > 0]
print(columns_with_missing_values)

jobDescription       2
address            192
companySize       1554
dtype: int64

In [28]:
columns_with_zero = (temp_df == 0).any()
print(columns_with_zero[columns_with_zero].index)

Index(['isAnonymous', 'isSalaryVisible', 'salary', 'salaryMax', 'salaryMin',
       'numOfApplications'],
      dtype='object')

=> Salary column will be predicted by model so we don't need to fill nan and about some solumns with zero don't have a lot of influences so we don't need to care about it. About companySize, we will fill NaN by mode

In [29]:
mode_value = temp_df['companySize'].mode().values[0]
temp_df['companySize'].fillna(temp_df['companySize'].apply(lambda x: mode_value if pd.isnull(x) else x), inplace = True)

<h5><i>10. Write to new csv</i></h5>

In [30]:
temp_df.to_csv('data/new_data.csv',index = False)